<form>
<input type="submit" class="button" value="Login!"></input>
</form>
<form>
<input type="submit" class="button" value="Register"></input>
</form>
<form>
<input type="submit" class="button" value="View Family Page"></input>
</form>
